* {
	box-sizing: border-box;
	margin: 10px 0;
	color: #4600FF;
}

html {
	height: 100%;
}

body {
	display: block;
	overflow: hidden;
	max-width: 95%;
	margin: auto;
	min-height: 100%;
}

h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
}

p {
	font-size: 1.2em;
}

nav {
	border-bottom: 1px solid #4600FF;
	padding: 15px 0;
	margin-bottom: 20px;
}

main {
	display: flex;
}

.search-column {
	flex: 1;
}

.books-column {
	flex: 4;
}

.flex-parent {
	display: flex;
	flex-wrap: column-wrap;
}

.search-column {
	padding-right: 20px;
}

.search-results {
	/*overflow-y: auto;*/
	/*height: 90vh;*/
}

.child {
	flex: 1;
	padding-right: 20px;
	overflow-y: auto;
	height: 90vh;
}

button, input {
	padding: 5px;
}

a {
	text-decoration: none;
	font-size: 1.5em;
}

a:hover {
	color: red;
}
