* {
  box-sizing: border-box;
  margin: 10px 0;
  color: #4600FF;
}

html {
  height: 100%;
}

body {
  display: block;
  overflow: hidden;
  width: 95%;
  margin: auto;
  height: 100%;
}

h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

p {
  font-size: 1.2em;
}

nav {
  border-bottom: 1px solid #4600FF;
  padding: 15px 0;
  margin-bottom: 20px;
}

/* Main Section */

main {
  display: flex;
}

.search-column {
  flex: 1;
}

.books {
  display: flex;
  flex: 4;
}

.search-column {
  padding-right: 20px;
}

.search-form {
  width: 90%;
  margin: auto;
}

.search-results {
  overflow-y: auto;
  height: 70vh;
}

.child {
  flex: 1;
  padding-right: 20px;
  overflow-y: auto;
  height: 90vh;
}

.book-container {
  border: 1px solid #4600FF;
  padding: 15px;
}

.note {
  margin-top: 10px;
  font-size: 1em;
  text-align: justify;
  text-justify: inter-word;
}

/* User Auth Stuff */

.auth-button {
  margin-right: 15px;
}

.auth {
  position: fixed;
  right: 0;
  left: 0;
  margin: 200px auto;
  padding: 15px;
  width: 40%;
  height: auto;
  border: 10px #4600FF solid;
  background-color: white;
}

.auth > form > .auth-input {
  width: 100%;
}

/* Misc Styling */

strong {
  display: block;
}

button,
input {
  padding: 3px 5px;
  font-family: "Inconsolata";
  font-size: 0.9em;
}

a {
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  color: red;
}

.right-nav {
  float: right;
}

/* For Smaller Screens */

@media (max-width: 900px) {
  .search-column {
    display: none;
  }
}

@media (max-width: 650px) {
  html, body {
    height: auto;
    overflow-y: scroll;
  }
  .search-column, .description {
    display: none;
  }
  .books {
    flex-direction: column;
    overflow-y: visible;
  }
  .child {
    height: 100%;
    padding-right: 0;
  }
}



