* {
	box-sizing: border-box;
	margin: 10px 0;
}

html {
	height: 100%;
}

body {
	display: block;
	overflow: hidden;
	max-width: 95%;
	margin: auto;
	min-height: 100%;
}

nav {
	border-bottom: 1px solid black;
	padding: 5px;
}

main {
	display: flex;
}

.search-column {
	flex: 1;
}

.books-column {
	flex: 4;
}

.flex-parent {
	display: flex;
}

.search-column {
	padding-right: 20px;
}

.child {
	flex: 1;
	padding-right: 20px;
	overflow-y: auto;
	height: 90vh;
}

a {
	text-decoration: none;
	font-size: 1.5em;
}
