<!DOCTYPE html>
<html ng-app='bookmark'>

<head>
		<meta charset="utf-8">
		<title>Bookmark</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">

		<script>var firebaseURL = "https://bookmark-it.firebaseio.com/books"</script>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>

		<script src="bower_components/firebase/firebase.js"></script>
		<script src="bower_components/angularfire/dist/angularfire.min.js"></script>

		<script src="js/app.js"></script>
		<!-- <script src="js/routes.js"></script> -->
		<script src="js/controllers/books.js"></script>
		<script src="js/controllers/search.js"></script>
		<!-- <script src="js/directives/book.js"></script> -->
</head>

<body>

<div ng-controller="searchController as vm">
	<form>
		<input ng-model="vm.searchTerm"></input>
		<input type="submit" value="submit" ng-click="vm.search(vm.searchTerm)">
	</form>

	<h2>**Search Results**</h2>
	<div ng-repeat="result in vm.searchResults">
		<p>{{result.title}} by {{result.author}}</p>
		<button ng-click="vm.add(result)">Select</button>
	</div>
</div>

<div ng-controller="mainController as vm">

		<h2>Entry Form</h2>
		<form>
			<label>Title: </label>
			<input ng-model="vm.book.title">
			<label>Author: </label>
			<input ng-model="vm.book.author">
			<input type="submit" value="submit" ng-click="vm.add(vm.book)"> 
		</form>


		<h2>Entries</h2>
		<div ng-repeat="book in vm.books">
			<p>{{$index}}. {{book.title}} — {{book.author}}</p>
			<button ng-click="vm.books.$remove(book)">Delete</button>
		</div>
	
</div>

</body>

</html>
