<!DOCTYPE html>
<html ng-app='bookmark'>

<head>
		<meta charset="utf-8">
		<title>Bookmark</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

		<script>var firebaseURL = "https://bookmark-it.firebaseio.com"</script>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>

		<script src="bower_components/firebase/firebase.js"></script>
		<script src="bower_components/angularfire/dist/angularfire.min.js"></script>

		<script src="js/app.js"></script>
		<!-- <script src="js/routes.js"></script> -->
		<script src="js/services/bookAdder.js"></script>
		<script src="js/controllers/books.js"></script>
		<script src="js/controllers/search.js"></script>
		<!-- <script src="js/directives/book.js"></script> -->
</head>

<body>

<nav>
	<a href="#">Bookmark, the best place for your books</a>
</nav>

<main>
	<div class="search-column" ng-controller="searchController as vm">
		<h2>Search for Books!</h2>
		<form ng-submit="vm.search(vm.searchTerm)">
			<input class="search-form" ng-model="vm.searchTerm"></input>
			<input type="submit" value="submit">
		</form>

		<div class="search-results" ng-repeat="result in vm.searchResults">
			<p><strong>{{result.title}}</strong> <br>— {{result.author}}</p>
			<button ng-click="vm.wantToRead(result)">Want to Read</button>
			<button ng-click="vm.reading(result)">Reading Now!</button>
			<button ng-click="vm.read(result)">Read</button>
		</div>
	</div>

	<div class="flex-parent books-column" ng-controller="mainController as vm">

		<div class="child">
			<h2>Want to Read</h2>
			<div ng-repeat="book in vm.wantToRead">
				<p><strong>{{book.title}}</strong> <br>— {{book.author}}</p>
				<button ng-click="vm.nowReading(book)">Reading!</button>
				<button ng-click="vm.wantToRead.$remove(book)">Delete</button>
			</div>
		</div>
		
		<div class="child">
			<h2>Reading</h2>
			<div ng-repeat="book in vm.reading">
				<p><strong>{{book.title}}</strong> <br>— {{book.author}}</p>
				<button ng-click="vm.finishedReading(book)">Finished Reading</button>
				<button ng-click="vm.reading.$remove(book)">Delete</button>
			</div>

		</div>

		<div class="child">
			<h2>Read</h2>
			<div ng-repeat="book in vm.read">
				<p><strong>{{book.title}}</strong> <br>— {{book.author}}</p>
				<p>{{book.note}}</p>
				<button ng-click="vm.read.$remove(book)">Delete</button>
				<button ng-click="show = !show">Add Note</button>
				<div>
					<form class="add-note" ng-show="show" ng-submit="vm.addNote(book, vm.note)">
						<textarea ng-model="vm.note"></textarea>
						<input type="submit" value="submit" ng-click="show = !show">
					</form>
				</div>
			</div>

		</div>

	</div>
</main>
</body>

</html>
